<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSurvey">
	
	<listeners>
	<listener class-name="extentlisteners.ExtentListeners"/>
	</listeners>
	
	<test name="Test">
		<classes>

			<class name="test.cases.CreateNewSurvey" />
			<class name="test.cases.AddSurveyQuestion" />
			<class name="test.cases.SurveyDistribution">
			<methods>
			<include name="checkDistribution" />
			</methods>
			</class>
			<class name="test.cases.AttendSurvey" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
