<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AthenaSurvey">

<listeners>
<listener class-name = "extentlisteners.ExtentListeners" />
</listeners>

  <test name="LoginTest">
  <classes>
    <class name="survey.base.TestBase"/>
  </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
